:root {
    --red: #E55604;
    --darkred: #E55604;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
  }

  #home{
    background-color: var(--white);
  }

.hero{
    display: flex;
    align-items: center;
}

.search-input{
    width: 80%;
}
.search-input button{
    background-color: #E55604;
    border: 1px solid ;
    color: white;
}

.search-button{
    background-color: var(--red);
    border: 2px solid var(--darkred);
    transition: background-color 1s;
}
.search-button:hover{
    color: var(--red);
    background-color: var(--white);
    border: 2px solid var(--darkred);

}